@{
    ViewBag.title = "Index";
}

<h2>User Name Form</h2>
<form method="post">
    <label>User Name:</label><br />
    <input type="text" name="username" /><br />
    <label>Password:</label><br />
    <input type="password" name="password" /><br />
    <input type="submit" value="Submit" />
</form>

        

